/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.center_get_started_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 4rem 0;
}

.get_started_btn {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  border: none;
  color: #f0f0f0;
  cursor: pointer;
  padding: 10px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background: var(--ifm-link-color);
  border-radius: 10px;
}

/* Responsive Style */
@media screen and (max-width: 1200px) {}